@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Berlin Sans FB Demi";
    src: url("/path-to-font/BerlinSansFBDemi.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}
